@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Montserrat&family=Oswald:wght@700&family=Poppins:wght@900&display=swap');


body{
    font-size: 48px;
    margin: 0;
    background-image: url('background.jpg');
    background-size: cover;
}

.header{
    width: 100%;
    text-align: center;
    background-color: rgb(111 162 195);
    margin: 0;
    padding: 0.5rem 0;
    font-family: "Edu NSW ACT Foundation", cursive;
    color: white;
}

.main{
    font-family: "Edu NSW ACT Foundation", cursive;
    text-align: center;
    padding: 10rem 0;
}

.buttons{

    font-family: "Edu NSW ACT Foundation", cursive;
    height: 130px;
    width: 130px;

    font-size: 48px;
    background-color: #5f9292;
    border: 3px solid #1e4b56;

    color: white;
}

.turn--display{
    margin-bottom: 3rem;
}

.row{
    margin-bottom: 0.5rem;
}

.buttons:hover{
    cursor: pointer;
    background-color: #accbcb;
}

.reset{

    background-color: #accbcb;
    margin-top: 2rem;
    border: 1px solid black;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 2rem;
}

.reset:hover{
    cursor: pointer;
    background-color: #dbe8e8;
}



