@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    font-family: 'Tilt Neon', sans-serif;
}

#main_container{
     display:grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1;
}


.main{
    grid-column-start: 1;
    grid-column-end: 2 ;
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 20vh);
    transform: translateX(10%);
    transform: translateY(10%);

}

.child{
    background-color: rgb(76, 94, 94);
    font-size: 48px;
    color: black;
    border: 3px solid black;
}

#control{
    grid-column-start: 2;
    grid-column-end: 3 ;
    transform: translateX(10%);
    transform: translateY(10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header{
    font-size: 64px;

}

.form{
    display: flex;
    flex-direction: column;
}

.form > label{
    padding: 10px;
    font-size: 24px;
}

.form > label > input{
    padding: 6px;
    font-size: 16px;

}

.select{
    padding: 6px;
    font-size: 16px;
}

#submit{
    width: 50%;
    font-size: 16px;
    transform: translateX(50%);
    font-size: 24px;
}



.button{
    background-color: rgb(76, 94, 94);
    font-size: 24px;
    padding: 6px;
    border: 3px solid black;
    border-radius: 6px;
    color: white;
}

.gameStatus{
    transform: translateY(10vh);
    font-size: 36px;
}


#winnerModal{
    font-size: 24px;
}